<div class="container">
  <div class="col-sm-8 offset-sm-2">
    <app-alert [enabled]="alert.enabled" [type]="alert.type" [message]="alert.message"></app-alert>
    <div class="card">
      <div class="card-header">
        Match Scout
      </div>
      <div class="card-body">
        <form (ngSubmit)="submitMatchScout();" [formGroup]="form">
          <div class="row" [formGroup]="form">
              <div class="form-group col-sm-6">
                  <label for="team_number" class="col-form-label">Team Number</label>
                  <input type="number" id="team_number" class="form-control" name="team_number" formControlName="team_number" [class.error]="!form.controls['team_number'].valid">
              </div>
              <!-- <div class="form-group col-sm-6">
                  <label for="match_number" class="col-form-label">Match Number</label>
                  <input type="text" id="match_number" class="form-control" name="match_number" formControlName="match_number" [class.error]="!form.controls['match_number'].valid">
              </div> -->
              <div class="form-group col-sm-6">
                <label for="match_number" class="col-form-label">Match Number</label>
                <select id="match_number" class="custom-select" name="match_number" formControlName="match_number">
                  <option *ngFor="let mn of match_numbers" [value]="mn.key">{{ (mn.comp_level | uppercase) + mn.match_number }}</option>
                </select>
              </div>
          </div>

          <div *ngFor="let types of match_template">
            <h4>{{ types.name }}</h4>
            <hr *ngIf="types.name">
            <div *ngFor="let question of types.fields">
              <app-match-question [data]="question" [form]="form"></app-match-question>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>