
<ng-sidebar-container>
  <ng-sidebar [(opened)]="opened" mode="over" showBackdrop="true" closeOnClickBackdrop="true">
    <div class="sidebar">
      <ul>
        <li *ngFor="let page of public_pages">
          <a [routerLink]="page.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ page.title }}</a>
        </li>
        <ng-container *ngIf="(getUser() | async) as user">
          <li *ngFor="let page of signed_in_pages">
            <a [routerLink]="page.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ page.title }}</a>
          </li>
          <ng-container *ngIf="user_claims?.admin">
            <li *ngFor="let page of admin_pages">
              <a [routerLink]="page.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ page.title }}</a>
            </li>
            </ng-container>
        </ng-container>
      </ul>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
      <app-header (sidebarToggle)="toggleSidebar()"></app-header>
    <div ng-sidebar-content class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-sidebar-container>