<div class="container" style="position: relative; top: 20px;">
  <div class="col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (submit)="login()">
          <div class="form-group">
            <label for="team_number">Team Number</label>
            <input type="text" class="form-control" id="team_number" required minlength="6" [(ngModel)]="pit_form.team_number" name="team_number">
          </div>
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>